/**===| Importando módulos do Tailwind CSS |===**/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ea580c;
    width: 100%;
}

.content-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
    /*margin-top: 50px;*/
    /*margin-bottom: 100px;*/
    max-width: 800px;
    /*border: 1px solid rgba(255,255,255,0.3);*/
    border-radius: 10px;
    padding: 50px;
}
.content-area a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*
.logo-trino{animation: aparecer-trino 500ms ease-in;}
.link-1{animation: aparecer 500ms ease-in;}
.link-2{animation: aparecer 500ms ease-in;}
.link-3{animation: aparecer 500ms ease-in;}
.link-4{animation: aparecer 500ms ease-in;}
.link-face{animation: aparecer 500ms ease-in;}
.logos-hospitais{animation: aparecer-logos 500ms ease-in;}
*/


@keyframes aparecer {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.25);
    }
    75%{
        opacity: 0.75;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes aparecer-logos {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes aparecer-trino {
    from{opacity: 0;}
    to{opacity: 1;}
}