/**===| Importando módulos do Tailwind CSS |===**/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /*background-color: #ea580c;*/
    width: 100%;
}

.content-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
    /*margin-top: 50px;*/
    /*margin-bottom: 100px;*/
    max-width: 800px;
    /*border: 1px solid rgba(255,255,255,0.3);*/
    border-radius: 10px;
    padding: 50px;
}
.content-area a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*
.logo-trino{animation: aparecer-trino 500ms ease-in;}
.link-1{animation: aparecer 500ms ease-in;}
.link-2{animation: aparecer 500ms ease-in;}
.link-3{animation: aparecer 500ms ease-in;}
.link-4{animation: aparecer 500ms ease-in;}
.link-face{animation: aparecer 500ms ease-in;}
.logos-hospitais{animation: aparecer-logos 500ms ease-in;}
*/


@keyframes aparecer {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.25);
    }
    75%{
        opacity: 0.75;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.area-dark{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 20px;
    transform: translateY(20px);
    gap: 2px;
}


.ligar_dark{
    width: 50px;
    height: 20px;
    border-radius: 20px;

}


.ligar_dark::before,
.ligar_dark::after{
    content: "";
    transition: all 400ms ease;
}

.ligar_dark::before{
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: black;
}
.ligar_dark::after{
    position:absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.btn-darkmode-checkbox:checked + .ligar_dark::before{
    background-color: rgb(0, 0, 0);   
}

.btn-darkmode-checkbox:checked + .ligar_dark::after{
    margin-left: 30px;
}

/*
.circle_dark::before,
.circle_dark::after{
    content: "";
    transform: translateX(30px);
}
.circle_dark:checked{
    transform: translateX(30px);
    transition: all 400ms;
}
*/


.btn-darkmode-checkbox{
    position: absolute;
    margin-left: -9999px;
}


@keyframes aparecer-logos {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes aparecer-trino {
    from{opacity: 0;}
    to{opacity: 1;}
}